<% layout (`layouts/boilerplate.ejs`)%>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%=err.message%></h4>
    <p>Please call or send message to our helper for assistance.</p>
</div>